{% extends "admin_layout.html" %}
{% block content %}
<div class="text-black text-center">
</div>
<br>
<div class="container card">
  <form method="post">
    {{ form.hidden_tag() }}
    <div class="form-group">
      {{ form.agent_id.label(class="form-control-label") }}
      {% if form.agent_id.errors %}
      {{ form.agent_id() }}
      <div class="invalid-feedback">
        {% for error in form.agent_id.errors %}
        <span>{{ error }}</span>
        {% endfor %}
      </div>
      {% else %}
      {{ form.agent_id() }}
      {% endif %}
    </div>
    <div class="form-group">
      {{ form.start_date.label(class="form-control-label") }}
      {% if form.start_date.errors %}
      {{ form.start_date() }}
      <div class="invalid-feedback">
        {% for error in form.start_date.errors %}
        <span>{{ error }}</span>
        {% endfor %}
      </div>
      {% else %}
      {{ form.start_date() }}
      {% endif %}
    </div>
    <div class="form-group">
      {{ form.end_date.label(class="form-control-label") }}
      {% if form.end_date.errors %}
      {{ form.end_date() }}
      <div class="invalid-feedback">
        {% for error in form.end_date.errors %}
        <span>{{ error }}</span>
        {% endfor %}
      </div>
      {% else %}
      {{ form.end_date() }}
      {% endif %}
    </div>
    <p>{{ form.submit() }}</p>
  </form>
</div>
{% endblock %}