{% extends "agent_layout.html" %}
{% block content %}
{% if agent %}
{% set assign_btn_label = 'Re-Assign' %}
{% else %}
{% set assign_btn_label = 'Assign' %}
{% endif %}
{% if agent.is_working == True %}
{% set status = 'Available' %}
{% set badge_type = 'primary' %}
{% else %}
{% set status = 'Un-Available' %}
{% set badge_type = 'danger' %}
{% endif %}
<br><br>
<div class="container">
  <div class="container card text-left text-white bg-dark">
    <div class="row card-body">
      <div class="col">
        Order ID
      </div>
      <div class="col">
        Pincode
      </div>
      <div class="col">
        Status
      </div>
    </div>
  </div>
  <div class="container card">
    <div class="row card-body">
      <div class="col">
        {{ order.id }}
      </div>
      <div class="col">
        {{ order.cust_pincode }}
      </div>
      <div class="col">
        <span class="badge badge-dark">{{ order.status }}</span>
      </div>
    </div>
  </div>
  <br><br>
  {% if agent %}
  <div class="container card text-center text-white bg-dark">
    Assignee
  </div>
  <div class="container card">
    <a class="nav-item nav-link" href="{{ url_for('main.agent', agent_id=agent.id) }}">
      <div class="row card-body">
        <div class="col">
          {{ agent.username }}
        </div>
        <div class="col">
          {{ agent.phone_no }}
        </div>
        <div class="col">
          <span class="badge badge-{{ badge_type }}">{{ status }}</span>
        </div>
      </div>
    </a>
  </div>
  {% else %}
  <div class="text-black text-center font-weight-bold">
    This order is currently unassigned.
  </div>
  {% endif %}
  <br><br>
  <div class="container card text-center">
    <div class="row card-body">
      <div class="btn-group mr-2 col" role="group" aria-label="Third group">
        <a class="btn btn-primary" href="https://www.google.com/maps/search/?api=1&query={{escaped_address}}" target="_blank">Navigate</a>
      </div>
      <div class="btn-group mr-2 col" role="group" aria-label="Second group">
        <div class="btn-group">
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Update Status
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{{ url_for('main.update_order_status_agent',order_id=order.id, status_option='accepted') }}">Accepted</a>
            <a class="dropdown-item" href="{{ url_for('main.update_order_status_agent',order_id=order.id, status_option='cooking') }}">Preparing your meal</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ url_for('main.update_order_status_agent',order_id=order.id, status_option='eta_30') }}">Your Order is 30 Minutes Away</a>
            <a class="dropdown-item" href="{{ url_for('main.update_order_status_agent',order_id=order.id, status_option='eta_10') }}">Your Order is 10 Minutes Away</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ url_for('main.update_order_status_agent',order_id=order.id, status_option='reached') }}">Your Order has reached your location</a>
            <a class="dropdown-item" href="{{ url_for('main.update_order_status_agent',order_id=order.id, status_option='delivered') }}">Order Delivered</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row card-body">
      <div class="btn-group mr-2 col" role="group" > 
          <a class="btn btn-dark" href="tel:{{order.phone}}"><span class="fa fa-phone">&nbsp;<strong>Phone</strong></span></a>  
      </div>
      <div class="btn-group mr-2 col" role="group" >
          <a class="btn btn-dark" href="https://api.whatsapp.com/send?phone={{order.phone}}" class="whatsapp" target="_blank">
              <i class="fa fa-whatsapp">Whatsapp</i>
          </a>
      </div>            
      <div class="btn-group mr-2 col" role="group" >
          <a class="btn btn-dark" href="sms:{{order.phone}};?&body=TextMessage">SMS</a>
      </div>
    </div>
  </div>
</div>
<br>
{% endblock content %}