{% extends "admin_layout.html" %}
{% block content %}
    <h1>Create Order</h1>
    <form action="{{ url_for('main.create_order') }}" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.order_items.label }}<br>
            {{ form.order_items() }}
        </p>
        <p>
            
            {{ form.order_status}}
        </p>
        <p>    
            {{ form.cust_name.label }}<br>      
            {{ form.cust_name() }}
        </p>
        <p>    
            {{ form.cust_phone_no.label }}<br>      
            {{ form.cust_phone_no() }}
        </p>
        <p>    
            {{ form.cust_addr1.label }}<br>      
            {{ form.cust_addr1() }}
        </p>        
        <p>    
            {{ form.cust_addr2.label }}<br>      
            {{ form.cust_addr2() }}
        </p>        
        <p>    
            {{ form.cust_pincode.label }}<br>      
            {{ form.cust_pincode() }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}