{% extends "admin_layout.html" %}
{% block content %}
  <article class="article-title" style="text-align:center;">
    List of Delivery Agents
  </article>
  <br>
  {% for agent in agents %}
    <article class="media content-section gray">
      <div class="media-body">
        {{ agent.id }} &nbsp;&nbsp;&nbsp;&nbsp; {{ agent.username }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Ph.No: {{ agent.phone_no}}
        &nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;
        {% if agent.is_working == True %}
          Available
        {% else %}
          Un-Available
        {% endif %}
      </div>
    </article>
  {% endfor %}
{% endblock content %}