{% extends "admin_layout.html" %}
{% block content %}
  {% set assign_btn_label = 'Assign' %}
  <article class="article-title" style="text-align:center;">
    {% if agent %}
      {% set assign_btn_label = 'Re-Assign' %}
      Agent {{ agent.username }} 
      {% if agent.is_working == True %}
        Available
      {% else %}
        Un-Available
      {% endif %}
    {% else %}
      Order Un-assigned
    {% endif %}
  </article>
  <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('main.assign_view', order_id=order.id) }}">{{ assign_btn_label }}</a>
  <br><br><br>
  Order {{ order.order_items }} 
  <!-- <article class="media content-section">
    <a class="nav-item nav-link" href="{{ url_for('main.agent', agent_id=agent.id) }}">
      <div class="media-body">
        {{ order.id }}
        &nbsp;&nbsp;&nbsp;&nbsp; {{ order.order_items }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{ order.status}}
        &nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;
      </div>
    </a>
  </article> -->

{% endblock content %}