{% extends "admin_layout.html" %}
{% block content %}
<!-- {% if agent.is_working == True %}
  {% set status = 'Available' %}
  {% set badge_type = 'primary' %}
{% else %}
  {% set status = 'Un-Available' %}
  {% set badge_type = 'danger' %}
{% endif %} -->
{% if agent %}
{% set assign_btn_label = 'Re-Assign' %}
{% else %}
{% set assign_btn_label = 'Assign' %}
{% endif %}
<br><br>
<div class="container card badge badge-secondary">
  <div class="row card-body">
    <div class="col">
      Order ID
    </div>
    <div class="col">
      Order Items
    </div>
    <div class="col">
      Status
    </div>
  </div>
</div>
<div class="container card">
  <div class="row card-body">
    <div class="col">
      {{ order.id }}
    </div>
    <div class="col">
      {{ order.order_items }}
    </div>
    <div class="col">
      <span class="badge badge-dark">{{ order.status }}</span>
    </div>
  </div>
</div>
<br><br>
<div class="container card">
  <a class="nav-item nav-link" href="{{ url_for('main.agent', agent_id=agent.id) }}">
    <div class="row card-body">
      <div class="col">
        Agent: {{ agent.username }}
      </div>
      <div class="col">
        Phone: {{ agent.phone_no }}
      </div>
      <div class="col">
        <span class="badge badge-dark">Orders:{{orders|length}}</span>
      </div>
      <div class="col">
        <span class="badge badge-{{ badge_type }}">{{ status }}</span>
      </div>
    </div>
  </a>
  <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('main.assign_view', order_id=order.id) }}">{{ assign_btn_label }} Order</a>

</div>
  <br>
{% endblock content %}